.login-recruiter{
text-align: center;
background-color: #edebe9;
}
.logo-astra{
  width: 30%;
}
.container-login-recruiter{
  border: solid 5px #6b0848;
  width: 80%;
  margin-left: 10%;
  margin-top: -5%;
  font-family: Arial, Helvetica, sans-serif;
}
.container-login-recruiter h3{
  color: rgb(26, 24, 24);
  margin-top: 5%;
  margin-bottom: 5%;
}
.form-login-recruiter{
  color: #6b0848;
  flex-direction: column;
  margin-bottom: 5%;
}
.button-login{
  border-radius: 10%;
  margin-bottom: 5%;
}

.loginForm{
  text-align: center;
}
