.login-recruiter{
text-align: center;
background-color: #edebe9;
}
.logo-astra{
  width: 30%;
}
.container-login-recruiter{
  border: solid 5px #6b0848;
  width: 80%;
  margin-left: 10%;
  margin-top: -5%;
  font-family: Arial, Helvetica, sans-serif;
}
.container-login-recruiter h3{
  color: rgb(26, 24, 24);
  margin-top: 5%;
  margin-bottom: 5%;
}
.section-login{
  border: solid 3px #ffc300 ;
  width: 30%;
  margin-left: 35%;
  margin-bottom: 10%;
}
.form-login-recruiter{
  color: #6b0848;
  flex-direction: column;
  margin-bottom: 5%;
}
.button-login{
  border-radius: 10%;
  margin-bottom: 5%;
}

.loginForm{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-size: cover;
}
.title-login{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: #6b0848;
  color: #ffc300;
  padding: 1%;
}
.img-login{
  width: 100%;
  height: 100%;
}
.form{
  margin-top: 5%;
}
.results{
  text-align: center;
}
.button-sign-out{
  display: flex;
  justify-content: right;
}
.title-area{
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: Arial, Helvetica, sans-serif;
}
.all-results{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 5%;
  justify-content: space-between;
  align-items: center;
}
.card{
  border: solid 2px #ffc300;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.questions{
  text-align: center;
  background-color: #edebe9;
  width: 100%;
  height: 100%;
}

.container{
  border: solid 5px #6b0848;
  width: 80%;
  margin-left: 10%;
  margin-top: -5%;
  font-family: Arial, Helvetica, sans-serif;
}

#name{
  display: inline-block;
}

.black{
  color: #aba;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  text-align: center;
  padding: 20px;
  line-height: 23px;
  background-color: #111;
}

.radioForm{
  padding-top: 15px;
  background: #111;
}

.radio{
  padding-top: 10px;

}
.timer{
  display: block;
  background-color: black;
  width: 40%;
}
